
@{
    ViewBag.Title = "FAQ";
}
<head>
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    <!-- Carousel
        ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/900x500/777777&text=First+slide" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Foire aux questions</h1>
                        <p>
                            Nous avons répondu aux questions les plus fréquemment posées. Elles sont classées par thème.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.carousel -->
    <body>
        <header>
            <h1>Foire aux questions</h1>
        </header>
        <section class="cd-faq">
            <ul class="cd-faq-categories">
                <li><a class="selected" href="#general">Général</a></li>
                <li><a href="#rf">Registre foncier</a></li>
                <li><a href="#consultation">Consultation du registre foncier</a></li>
                <li><a href="#definitions">Définitions</a></li>
                <li><a href="#centrale">Centrale des testaments</a></li>
                <li><a href="#rf2020">RF 2020</a></li>
            </ul> <!-- cd-faq-categories -->

            <div class="cd-faq-items">
                <ul id="general" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>Général</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Quelle est la mission du service ?</a>
                        <div class="cd-faq-content">
                            <p>
                                Le Service du registre foncier est chargé de donner l'état des droits en relation avec les immeubles ainsi que de sécuriser les droits liés à la propriété foncière.
                            </p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quelle est la vision du service ?</a>
                        <div class="cd-faq-content">
                            <p>
                                Nous assurons et gérons les droits relatifs à la propriété foncière pour le canton du Valais de manière compétente et uniformisée, grâce aux technologies modernes d’information et de communication.
                            </p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quelles sont les valeurs du service ?</a>
                        <div class="cd-faq-content">
                            <p>
                                Fiabilité, Equité et impartialité et Modernité. Pour plus de détails, veuillez vous diriger sur la page de notre <a href="~/Home/Mission">mission</a>.
                            </p>
                        </div> <!-- cd-faq-content -->
                    </li>
                </ul> <!-- cd-faq-group -->

                <ul id="rf" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>Registre foncier</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Où se trouve le Registre foncier ? </a>
                        <div class="cd-faq-content">
                            <p>Il existe six registres fonciers en Valais : à Loèche, à Brigue, à Sierre, à Sion, à Martigny et à Monthey. Vous devez vous dirrigez vers le registre foncier de votre région.</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quel est l'historique du registre foncier ?</a>
                        <div class="cd-faq-content">
                            <p>Plus de 100 ans après, les activités du registre foncier ont évolué au rythme de la technologie. Toutefois, leur raison d'être demeure inchangée. Leur rôle devient même de plus en plus important au vu des enjeux économiques qui entourent la propriété foncière à l'heure actuelle.</p>
                        </div> <!-- cd-faq-content -->
                    </li>
                </ul> <!-- cd-faq-group -->

                <ul id="consultation" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>Consultation du registre foncier</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Comment consulter le registre foncier en ligne ?</a>
                        <div class="cd-faq-content">
                            <p>Il est possible de consulter le registre foncier en ligne en demandant les accès à Intercapi par le biais des formulaires trouvés <a href="~/Home/Consultation">ici</a>.</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Qui peut accéder à la consultation en ligne du registre foncier ?</a>
                        <div class="cd-faq-content">
                            <p>Elles peuvent être consultées par les personnes disposant d’un droit d’accès. Les accès sont actuellement ouverts aux notaires, géomètres, teneurs de cadastres et administrations.  Nous travaillons à étendre ceux-ci aux personnes privées et autres ayant droits au sens de l’annexe 1 de l’Ordonnance cantonale sur le registre foncier informatisé.</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Qu'est-ce le lien pour accéder directement à Intercapi ?</a>
                        <div class="cd-faq-content">
                            <p>Vous pouvez accéder à Intercapi par le biais du lien <a href="https://apps.vs.ch/capweb/faces/pages/home.xhtml">ici</a>.</p>
                        </div> <!-- cd-faq-content -->
                    </li>
                </ul> <!-- cd-faq-group -->

                <ul id="definitions" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>Définitions</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Qu'est-ce une servitude ?</a>
                        <div class="cd-faq-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. Et repellat quam atque corrupti iusto architecto impedit explicabo repudiandae qui similique aut iure ipsum quis inventore nulla error aliquid alias quia dolorem dolore, odio excepturi veniam odit veritatis. Quo iure magnam, et cum. Laudantium, eaque non? Tempore nihil corporis cumque dolor ipsum accusamus sapiente aliquid quis ea assumenda deserunt praesentium voluptatibus, accusantium a mollitia necessitatibus nostrum voluptatem numquam modi ab, sint rem.</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Qu'est-ce une charge ?</a>
                        <div class="cd-faq-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur accusantium dolorem vel, ad, nostrum natus eos, nemo placeat quos nisi architecto rem dolorum amet consectetur molestiae reprehenderit cum harum commodi beatae necessitatibus. Mollitia a nostrum enim earum minima doloribus illum autem, provident vero et, aspernatur quae sunt illo dolorem. Corporis blanditiis, unde, neque, adipisci debitis quas ullam accusantium repudiandae eum nostrum quis! Velit esse harum qui, modi ratione debitis alias laboriosam minus eaque, quod, itaque labore illo totam aut quia fuga nemo. Perferendis ipsa laborum atque assumenda tempore aspernatur a eos harum non id commodi excepturi quaerat ullam, explicabo, incidunt ipsam, accusantium quo magni ut! Ratione, magnam. Delectus nesciunt impedit praesentium sed, aliquam architecto dolores quae, distinctio consectetur obcaecati esse, consequuntur vel sit quis blanditiis possimus dolorum. Eaque architecto doloremque aliquid quae cumque, vitae perferendis enim, iure fugiat, soluta aut!</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quelle est la différence entre un extrait public, un extrait complet ou un état des charges ?</a>
                        <div class="cd-faq-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                        </div> <!-- cd-faq-content -->
                    </li>
                </ul> <!-- cd-faq-group -->

                <ul id="centrale" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>Centrale valaisanne des testaments</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Est-ce la centrale valaisanne des testaments qui conserve les testaments ?</a>
                        <div class="cd-faq-content">
                            <p>Les testaments papiers restent chez les notaires concernés. Lorsqu'un notaire cesse son activité, les testaments sont repris par le registre foncier concerné.</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Qui peut annoncer un testament ?</a>
                        <div class="cd-faq-content">
                            <p>Les testaments sont annoncés à la centrale des testaments par le biais des notaires valaisans uniquement.</p>
                        </div> <!-- cd-faq-content -->
                    </li>
                </ul> <!-- cd-faq-group -->

                <ul id="rf2020" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>RF 2020</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">Qu'est-ce RF 2020 ?</a>
                        <div class="cd-faq-content">
                            <p>RF 2020 est un projet ayant pour but de moderniser le registre foncier, d'introduire le Registre foncier fédéral informatisé et de mettre en place un système d'information sur les immeubles.</p>
                        </div> <!-- cd-faq-content -->
                    </li>

                    <li>
                        <a class="cd-faq-trigger" href="#0">Quelles sont les objectifs de RF 2020 ?</a>
                        <div class="cd-faq-content">
                            <p>
                                Les objectifs visés sont les suivants:
                                Fournir une information cohérente, exhaustive et actuelle sur les droits et charges liés à un immeuble,
                                Fournir une information sur la localisation et l'extension spatiale des droits et charges et
                                Informer sur l'acquisition d'immeubles par des personnes à l'étranger
                            </p>
                        </div> <!-- cd-faq-content -->
                    </li>
                </ul> <!-- cd-faq-group -->
            </div> <!-- cd-faq-items -->
            <a href="#0" class="cd-close-panel">Close</a>
        </section> <!-- cd-faq -->
        <script src="js/jquery-2.1.1.js"></script>
        <script src="js/jquery.mobile.custom.min.js"></script>
        <script src="js/main.js"></script> <!-- Resource jQuery -->
        </br>
        </br>
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Retour au sommet</a></p>
            <p>&copy; 2018 Stéphanie Domingues Pinto</p>
        </footer>
    </body>
</head>