
@{
    ViewBag.Title = "Mission";
}
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Src/val-de-mesdi.jpg" alt="Service" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Notre mission</h1>
                    <p>
                        L’origine des prestations fournies par le service du registre foncier va de pair avec l’introduction du Code Civile Suisse en 1912. Dès lors, la propriété foncière est garantie par une inscription systématique au registre foncier.
                    </p>
                    <p>
                        Plus de 100 ans après, les activités du registre foncier ont évolué au rythme de la technologie. Toutefois, leur raison d'être demeure inchangée. Leur rôle devient même de plus en plus important au vu des enjeux économiques qui entourent la propriété foncière à l'heure actuelle.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div style="text-align:center">
        <h1>Mission</h1>
        <p>Le Service du registre foncier est chargé de donner l'état des droits en relation avec les immeubles ainsi que de sécuriser les droits liés à la propriété foncière.</p>

        <h1>Vision</h1>
        <p>Nous assurons et gérons les droits relatifs à la propriété foncière pour le canton du Valais de manière compétente et uniformisée, grâce aux technologies modernes d’information et de communication.</p>

        <h1>Valeurs</h1>
        <h4><b>Fiabilité</b></h4>

        <p>Grâce à la compétence de nos collaborateurs, nous garantissons des données fiables et précises. Nous assurons la disponibilité et la sécurité de ces données de manière permanente et durable.</p>
        </br>
        <h4><b>Equité et impartialité</b></h4>

        <p>En tant qu’administration publique, nous traitons tous les clients sur un pied d’égalité. Nous nous engageons à considérer toutes les affaires qui nous sont confiées, sans distinction aucune, de manière juste et équitable.</p>
        </br>
        <h4><b>Modernité</b></h4>

        <p>Nous mettons tout en œuvre pour évoluer au rythme de la société qui nous entoure, et ainsi pouvoir offrir des prestations adaptées aux besoins de nos clients et partenaires. Nous nous employons quotidiennement à réduire notre impact sur l’environnement, tout en nous préoccupant de la santé et sécurité de nos collaborateurs.</p>
        <p>Dans le but d’améliorer continuellement nos prestations, nous intégrons les principes de « Valais Excellence » dans nos pratiques.</p>
    </div>
    </br>
    </br>
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Retour au sommet</a></p>
        <p>&copy; 2018 Stéphanie Domingues Pinto</p>
    </footer>

</div><!-- /.container -->
