
@{
    ViewBag.Title = "RF2020";
}
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://placehold.it/900x500/777777&text=First+slide" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Registre Foncier 2020 (RF 2020)</h1>
                    <p>
                        Le projet <b>RF2020</b> a pour but de moderniser le registre foncier, d'introduire le Registre foncier fédéral informatisé et de mettre en place un système d'information sur les immeubles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div style="text-align:center">
        <h1>
            Situation
        </h1>
        <br />
        <p>
            Le Valais est une terre de propriétaires :
        </p>
        <ul style="list-style-position: inside">
            <li>
                1.2 million de parcelles en Valais
            </li>
            <li>
                300’000 habitants
            </li>
            <li>
                3 milliards de francs de nouveaux crédits hypothécaires par année
            </li>
        </ul>
        </br>
        <h1>
            Les objectifs visés sont les suivants
        </h1>
        </br>
        <ul style="list-style-position: inside">
            <li>
                Fournir une information cohérente, exhaustive et actuelle sur les droits et charges liés à un immeuble
            </li>
            <li>
                Fournir une information sur la localisation et l'extension spatiale des droits et charges
            </li>
            <li>
                Informer sur l'acquisition d'immeubles par des personnes à l'étranger
            </li>
        </ul>
        </br>
        <h1>
            Contacts
        </h1>
        </br>
        <p>Vous pouvez contacter les deux personnes suivantes pour quelconque précisions ou questions concernant RF 2020 :</p>
        <ul style="list-style-position: inside">
            <li>
                Chef du projet RF 2020 <a href="mailto:didier.giroud@admin.vs.ch">didier.giroud@admin.vs.ch</a>
            </li>
            <li>
                Assistante du projet RF 2020 <a href="mailto:stephanie.domingues-pinto@admin.vs.ch">stephanie.domingues-pinto@admin.vs.ch</a>
            </li>
        </ul>
    </div>
    </br>
    </br>
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Retour au sommet</a></p>
        <p>&copy; 2018 Stéphanie Domingues Pinto</p>
    </footer>

</div><!-- /.container -->