@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://placehold.it/900x500/777777&text=First+slide" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Consultation</h1>
                    <h2>
                        Pour consulter le contenu du registre foncier, vous avez différentes options.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div style="text-align:center">
        <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
        <form role="form" id="feedbackForm" method="post" action="">
            <div class="grid__row">
                <div class="grid__col-xxs--12 grid__col-s--12">
                    <h2 class="block-title">Registre foncier informatisé</h2>
                </div>
                <div class="grid__col-xxs--12 grid__col-s--8  entry-body">
                    <div class="vsstruct">
                        <h2>Consultation en ligne du registre foncier</h2>

                        <p style="text-align: justify;">Les données du registre foncier sont désormais disponibles en ligne, via le système d’information Intercapi. Elles peuvent être consultées par les personnes disposant d’un droit d’accès. <strong>Les accès sont actuellement ouverts aux notaires, géomètres, teneurs de cadastres et administrations</strong>. &nbsp;Nous travaillons à étendre ceux-ci aux personnes privées et autres ayant droits au sens de l’annexe 1 de l’Ordonnance cantonale sur le registre foncier informatisé.</p>

                        <p style="text-align: justify;">Les utilisateurs précités disposent d’un accès aux données publiques du registre foncier. Ces données comprennent la désignation de l’immeuble, son descriptif, le nom et l’identification du propriétaire, la forme de la propriété ainsi que la date d’acquisition (art. 26 al. 1 ORF, art. 970 al. 2 CC). <strong>Si vous ne disposez pas d’un accès à notre plateforme, ces informations ouvertes au public peuvent être obtenues auprès de nos bureaux de registres fonciers.</strong></p>

                        <p style="text-align: justify;">Si les conditions des art. 28 ss ORF et leurs dispositions d’exécution (Ordonnance cantonale sur la tenue du registre foncier informatisé) sont remplies, un accès étendu (droits de gages, servitudes…) peut être obtenu. Ce type d’accès est soumis à émoluments.</p>

                        <p style="text-align: justify;">Pour l’obtention d’un accès public ou étendu, une demande fondée doit être déposée en vue de l’établissement d’une convention entre l’utilisateur et le canton. Pour ce faire, merci de retourner le formulaire à l'adresse indiquée ci-contre.</p>
                    </div>
                </div>
                <div class="grid__col-xxs--12 grid__col-s--4">
                    <div class="grid__col-xxs--12 grid__col-s--12 services-header">
                        <div class="grid__col-xxs--12">
                            <h3>
                                Contact
                            </h3>
                            <p>&nbsp;</p>

                            <p><strong><a href="https://apps.vs.ch/capweb/">Accès&nbsp;direct&nbsp;à la consultation du registre foncier </a>- Intercapi</strong></p>

                            <p>&nbsp;</p>

                            <p><em><strong>Demande d'abonnement?</strong></em></p>

                            <p>
                                Service du registre foncier<br />
                                Avenue de la Gare 39<br />
                                1950 Sion
                            </p>

                            <p>&nbsp;</p>

                            <p>
                                <em>
                                    <strong>
                                        Problèmes d'accès?<br />
                                        Mot de passe oublié?
                                    </strong>
                                </em>
                            </p>

                            <p><a href="mailto: RF-Monthey@admin.vs.ch"><img alt="" src="/documents/515668/876099/ic%C3%B4ne_enveloppe.png/a13ba86f-1e0b-4aab-ae49-1d36684ba5df?t=1429688745763" style="width: 16px; height: 16px;" /> </a><a href="mailto:srf-intercapi@admin.vs.ch">srf-intercapi@admin.vs.ch</a></p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END CONTACT FORM -->
    </div>
    </br>
    </br>
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Retour au sommet</a></p>
        <p>&copy; 2018 Stéphanie Domingues Pinto</p>
    </footer>

</div><!-- /.container -->
